*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background: rgb(48, 82, 97);
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;

}
.container{
width: 500px;
background: rgb(214, 130, 75);
padding: 20px;
border-radius: 20px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
rgba(0, 0, 0, 0.12) 0px -12px 30px, 
rgba(0, 0, 0, 0.12) 0px 4px 6px, 
rgba(0, 0, 0, 0.17) 0px 12px 13px, 
rgba(0, 0, 0, 0.09) 0px -3px 5px;
display: block;


}
.counterContainer{
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
}

.container textarea{
  width: 100%;
  height: 150px;
  margin: 10px 0px;
  padding: 10px 5px;
  border-radius: 10px;
  resize: none;
  font-size: 16px;
}

.totalCounter{
  font-size: 16px;
  color: rgb(36, 36, 126);
}
.remainingCounter{
  color: rgb(44, 78, 21);
  font-size: 16px;
}